<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                    <span>Shopping cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}
                            <tr>

                                <td class="cart__product__item">
                                    <img style="width:70px; height:70px" src="/product-images/{{this.product._id}}.jpg"
                                        alt="">
                                    <div class="cart__product__item__title">
                                        <h6>{{this.product.name}}</h6>


                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        {{!-- {{/each}} --}}
                                    </div>
                                </td>
                                <td class="cart__price">{{this.product.price}}</td>
                                {{!-- <td class="cart__quantity">
                                    <div class="pro-qty">
                                        <input type="text" value="{{this.quantity}}">
                                    </div>
                                </td> --}}
                                <td>
                                    <p>{{user._id}}</p><button class="cart-item-count mr-3"
                                        onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',-1)">-</button>
                                    <span id="{{this.product._id}}">{{this.quantity}}</span>
                                    <button class="cart-item-count ml-3"
                                        onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',1)">+</button>
                                </td>
                                <td class="cart__total" id="single" >{{multiply this.product.price this.quantity}}</td>
                                <td class="cart__close"><span class="icon_close" onclick="removeProduct('{{this._id}}','{{this.product._id}}')" ></span></td>
                                <td>
                                    {{!-- <a href="delete-product?id={{this._id}}{{this.product._id}}"><span
                                            class="glyphicon glyphicon-trash" style='font-size:3rem'></span></a> --}}
                                    {{!-- <button class="btn btn-danger"
                                        onclick="removeProduct('{{this._id}}','{{this.product._id}}')">Remove</button>

                                </td> --}}
                            </tr>
                            {{/each}}
                            {{!-- <tr>
                                <td class="cart__product__item">
                                    <img src="/user/Images/shop-cart/cp-2.jpg" alt="">
                                    <div class="cart__product__item__title">
                                        <h6>Zip-pockets pebbled tote briefcase</h6>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </td>
                                b<td class="cart__price">$ 170.0</td>
                                <td class="cart__quantity">
                                    <div class="pro-qty">
                                        <input type="text" value="1">
                                    </div>
                                </td>
                                <td class="cart__total">$ 170.0</td>
                                <td class="cart__close"><span class="icon_close"></span></td>
                            </tr>
                            <tr>
                                <td class="cart__product__item">
                                    <img src="/user/Images/shop-cart/cp-3.jpg" alt="">
                                    <div class="cart__product__item__title">
                                        <h6>Black jean</h6>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">$ 85.0</td>
                                <td class="cart__quantity">
                                    <div class="pro-qty">
                                        <input type="text" value="1">
                                    </div>
                                </td>
                                <td class="cart__total">$ 170.0</td>
                                <td class="cart__close"><span class="icon_close"></span></td>
                            </tr>
                            <tr>
                                <td class="cart__product__item">
                                    <img src="/user/Images/shop-cart/cp-4.jpg" alt="">
                                    <div class="cart__product__item__title">
                                        <h6>Cotton Shirt</h6>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">$ 55.0</td>
                                <td class="cart__quantity">
                                    <div class="pro-qty">
                                        <input type="text" value="1">
                                    </div>
                                </td>
                                <td class="cart__total">$ 110.0</td>
                                <td class="cart__close"><span class="icon_close"></span></td>
                            </tr> --}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn">
                    <a href="/shop">Continue Shopping</a>
                </div>
            </div>
            {{!-- <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn update__btn">
                    <a href="#"><span class="icon_loading"></span> Update cart</a>
                </div>
            </div> --}}
        </div>
        <div class="row">
            <div class="col-lg-6">
         
            </div>
            <div class="col-lg-4 offset-lg-2">
                <div class="cart__total__procced">
                    <h6>Cart total</h6>
                    <ul>
                        {{!-- <li>Subtotal <span>$ 750.0</span></li> --}}
                        <li>Total <span id="total">{{totalValue}}</span></li>
                    </ul>
                    <a href="/checkout" class="primary-btn">Proceed to checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function changeQuantity(cartId, proId, userId, count) {

        let quantity = parseInt(document.getElementById(proId).innerHTML)
        count = parseInt(count)
        console.log(userId)

        $.ajax(
            {
                url: '/change-product-quantity',
                data: {
                    user: userId,
                    cart: cartId,
                    product: proId,
                    count: count,
                    quantity: quantity
                },
                method: 'post',
                success: (response) => {
                    if (response.removeProduct) {
                        alert("product removed from the cart")
                        location.reload()
                    } else {
                        console.log(response)

                        document.getElementById(proId).innerHTML = quantity + count
                        document.getElementById('total').innerHTML = response.total
                      
                    }

                }
            }
        )
    }
</script>
<!-- Shop Cart Section End -->
<script>
    function removeProduct(cartId, proId) {
        console.log(cartId, proId)
        $.ajax({
            url: '/delete-product/' + cartId + '/' + proId,
            method: 'get',
            success: (response) => {
                if (response.removeProduct) {
                
                    location.reload()
                    $("#cart-count").load(location.href + "#cart-count");
                        	Swal.fire(
						'product removed',
						'',
						'success'
					)
                }
            }
        })
    }
</script>