  <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            {{#with proDetails}}
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                       
                        <img src="/product-images/{{this._id}}.jpg" alt="">
                      
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3>{{this.name}} <span>{{this.description}}</span></h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            
                            <span>( 138 reviews )</span>
                        </div>
                        <div class="product__details__price">{{this.price}} <span></div>
                        {{!-- <p>Nemo enim ipsam voluptatem quia aspernatur aut odit aut loret fugit, sed quia consequuntur
                        magni lores eos qui ratione voluptatem sequi nesciunt.</p> --}}
                        <div class="product__details__button">
                            <div class="quantity">
                                <span>Quantity:</span>
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                            </div>
                            {{!-- <a href="/cart" class="cart-btn"><span class="icon_bag_alt"></span> Add to cart</a> --}}
                            <a onclick="addToCart('{{this._id}}')" > <span class="btn btn-primary" >Add to cart</span></a>
                           
                        </div>
                        <div class="product__details__widget">
                            <ul>
                                <li>
                                    <span>Availability:</span>
                                    <div class="stock__checkbox">
                                        <label for="stockin">
                                            In Stock
                                            <input type="checkbox" id="stockin">
                                            <span class=""></span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    
                                    <span>Promotions:</span>
                                    <p>Free shipping</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
                {{/with}}
                <div class="col-lg-12">
                    
   
<script>
        function addToCart(proId){
    $.ajax({
        url:'/add-to-cart/'+proId,
        method:'get',
        success:(response)=>{
            if(response.status){
            let count=$('#cart-count').html()
            count=parseInt(count)+1
            $("#cart-count").html(count)
              	Swal.fire(
						'added to cart',
						'',
						'success'
					)
            }
            
        }
    })
}
</script>
